body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.app {
  width: 700px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
